# Items
API to fetch and process the data.

In [1]:
%cd -q ../../../src

In [2]:
from arche.readers.items import *

## From Cloud

In [3]:
job_items = JobItems(key="381798/1/1")

HBox(children=(IntProgress(value=0, description='Fetching 0:1000 from 381798/1/1', max=1000, style=ProgressSty…

In [4]:
job_items.df.head()

,_key,_type,category,description,price,title
0,https://app.scrapinghub.com/p/381798/1/1/item/0,dict,Travel,"“Wherever you go, whatever you do, just . . . ...",£45.17,It's Only the Himalayas
1,https://app.scrapinghub.com/p/381798/1/1/item/1,dict,Politics,Libertarianism isn't about winning elections; ...,£51.33,Libertarianism for Beginners
2,https://app.scrapinghub.com/p/381798/1/1/item/2,dict,Science Fiction,"Andrew Barger, award-winning author and engine...",£37.59,Mesaerion: The Best Science Fiction Stories 18...
3,https://app.scrapinghub.com/p/381798/1/1/item/3,dict,Poetry,"Part fact, part fiction, Tyehimba Jess's much ...",£23.88,Olio
4,https://app.scrapinghub.com/p/381798/1/1/item/4,dict,Music,This is the never-before-told story of the mus...,£57.25,Our Band Could Be Your Life: Scenes from the A...

## From DataFrame

You can also create items from a pandas dataframe, meaning you can use its wonderful [DataFrame API](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).

In [5]:
df = pd.DataFrame({"category": ["machine learning", "science", "phantasy"], "name": ["fastai", "12 rules for life", "The Hitchhiker's Guide to the Galaxy"]})

In [6]:
items = Items.from_df(df)

In [7]:
items.df

           category                                  name _key
0  machine learning                                fastai    0
1           science                     12 rules for life    1
2          phantasy  The Hitchhiker's Guide to the Galaxy    2